{% extends 'base.html' %}
{% load static %}
{% block title %}إضافة موظفات - صالون{% endblock %}
    {% block content %}
        <style>
        #wrapper #content-wrapper #content {
        -ms-flex: 1 0 auto;
        flex: 0 0 auto;
}
        </style>
         <div class="container-fluid" style="position: relative">

          <!-- Page Heading -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
          <h1 class="h3 mb-2 text-brown">إضافة موظفة جديدة</h1>
                <div id="res"></div>
            </div>
              <div class="card-body">
<form class="form-inline">
    {% csrf_token %}
    <div class="form-group">
        <label>Firstname</label>
        <input type="text" id="firstname" class="form-control" style="width:30%;" required="required"/>
        <label>Lastname</label>
        <input type="text" id="lastname" class="form-control" style="width:30%;" required="required"/>
        <button type="button" id="create" class="btn btn-sm btn-primary">Create</button>
    </div>
</form>
<br />
<div id="result">
</div>
  </div>
          </div>
         </div>
                  <script src="{% static 'js/script.js' %}"></script>

                {% endblock %}