{% extends 'base.html' %}
{% load static %}
{% block title %}الإدارة المالية - صالون{% endblock %}
    {% block content %}
        <style>
        #wrapper #content-wrapper #content {
        -ms-flex: 1 0 auto;
        flex: 0 0 auto;
}
        </style>
         <div class="container-fluid" style="position: relative">

          <!-- Page Heading -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
          <h1 class="h3 mb-2 text-brown">الإدارة المالية و المحاسبة</h1>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                  <thead style="background-color: #996668; color: white; text-align: center">
                    <tr>
                        <th>#</th>
                        <td>رقم الحجز</td>
                        <th>تفاصيل الحجز</th>
                        <th>اسم العميلة</th>
                        <th>التاريخ</th>
                        <th>المبلغ</th>
                        <th>عمولة التطبيق</th>
                        <th>الصافي</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for order in orders %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ order.id }}</td>
                      <td>{{ order.services }}</td>
                      <td>{{ order.customer }}</td>
                      <td>{{ order.date.date }}</td>
                      <td id="price{{ forloop.counter0 }}">{{ order.services.price }}</td>
                      <td id="tax{{ forloop.counter0 }}"></td>
                      <td id="net{{ forloop.counter0 }}"></td>
{#                      <td class="icon-t">#}
{#                          <form action="{% url 'update_orders' order.pk %}" method="post">#}
{#                              {% csrf_token %}#}
{#                              <input type="hidden" name="approval" value="2">#}
{#                              <input type="hidden" name="answer" value="True">#}
{#                              <button type="submit" class="form-btn">#}
{#                                  <i class="fas fa-times-circle text-danger"></i>#}
{#                              </button>#}
{#                          </form>#}
{#                      </td>#}
                    </tr>
                       <input type="hidden" id="count" value="{{ forloop.revcounter }}">
                      {% empty %}
                      <tr>
                      <td colspan="8" style="font-size: larger">
                          لا توجد عمليات!
                      </td>
                      </tr>

                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <script>


         var cnt = document.getElementById("count").value;

    var sum = 0;
    for (var i = 0; i < cnt ; i++){
         var price =  document.getElementById('price' + i).innerHTML;
          var salon_tax = parseFloat(price)*.15;
         var total = parseFloat(price) - salon_tax;

        document.getElementById("tax" + i).innerHTML = salon_tax;
        document.getElementById("net" + i).innerHTML = total;

        console.log(price)
    }


        </script>
    {% endblock %}

