{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}تعديل بيانات موظفة - صالون{% endblock %}#}
{#    {% block content %}#}
{#        <style>#}
{#        #wrapper #content-wrapper #content {#}
{#        -ms-flex: 1 0 auto;#}
{#        flex: 0 0 auto;#}
{#}#}
{#        </style>#}
{#         <div class="container-fluid" style="position: relative">#}
{##}
{#          <!-- Page Heading -->#}
{##}
{#          <!-- DataTales Example -->#}
{#          <div class="card shadow mb-4">#}
{#            <div class="card-header py-3">#}
{#          <h1 class="h3 mb-2 text-brown">تعديل مهام موظفة</h1>#}
{#            </div>#}
{#              <div class="card-body">#}
{#            <form method="POST" class="post-form" action="{% url 'update_tasks' tasks.id %}">#}
{#                    {% csrf_token %}  #}
{#            <br>#}
{#              <div class="form-group row">#}
{#                <label class="col-sm-2 col-form-label">اسم الخدمة:</label>#}
{#                <div class="col-sm-4">  #}
{#                    <input class="form-control" disabled type="text" name="artist" id="id_artist" required maxlength="100" value="{{ tasks.artist }}" />#}
{#                </div>  #}
{#              </div>#}
{#                 <div class="form-group row">#}
{#              <label class="col-sm-2 col-form-label" for="exampleFormControlSelect2">المهام:</label>#}
{#          <div class="col-sm-4">#}
{#               <select multiple class="form-control" id="id_service" name="service">#}
{#                {% for task in tasks.service.all %}#}
{#                    <option value="{{ task.id }}">{{ task.name }}</option>#}
{#                {% endfor %}#}
{#                </select>#}
{#          </div>#}
{#            </div>#}
{#                <br>#}
{#                <div class="form-group row">  #}
{#                    <label class="col-sm-2 col-form-label"></label>#}
{#                    <div class="col-sm-4">#}
{#                    <button type="submit" class="btn btn-brown form-control">حفظ التغييرات</button>#}
{#                </div>  #}
{#              </div>  #}
{#            </form>#}
{#                #}
{#            </div>#}
{#          </div>#}
{#         </div>#}
{#{% endblock %}#}